#public net.minecraft.entity.passive.fish.AbstractFishEntity func_203705_dA()Z # fromBucket
#public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ #LAND_TRANSFORMING_STRUCTURES
#public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ #DEFAULT_STRUCTURE_CONFIGS
#public-f net.minecraft.world.gen.FlatGenerationSettings field_202247_j #STRUCTURES
#public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193_d_ #structures

public net.minecraft.world.entity.Entity f_19857_ # yRot
public net.minecraft.world.entity.Entity f_19858_ # xRot